<h1 class="title">Eindrücke</h1>
<section class="card" sgInViewport>
    <div class="card-header">
        <div class="card-header__title">St.Galler Kloster</div>
    </div>
    <div class="card-body">
        <div class="card-body__image-container">
            <img class="card-body__image-container__image" src="assets/images/church/original.jpg" alt="Kloster St.Gallen unbearbeitet">
            <img class="card-body__image-container__image" src="assets/images/church/edited.jpg" alt="Kloster St.Gallen bearbeitet Wasserfarbeneffekt">
        </div>
    </div>
</section>

<section class="card" sgInViewport>
    <div class="card-header">
        <div class="card-header__title">Blick auf St.Gallen</div>
    </div>
    <div class="card-body">
        <div class="card-body__image-container is-landscape">
            <img class="card-body__image-container__image" src="assets/images/view/original.jpeg" alt="Kloster St.Gallen unbearbeitet">
            <img class="card-body__image-container__image" src="assets/images/view/edited.jpg" alt="Kloster St.Gallen bearbeitet Wasserfarbeneffekt">
        </div>
    </div>
</section>

<section class="card" sgInViewport>
    <div class="card-header">
        <div class="card-header__title">Bahnhof und Post</div>
    </div>
    <div class="card-body">
        <div class="card-body__image-container is-landscape">
            <img class="card-body__image-container__image" src="assets/images/center/original.jpeg" alt="Kloster St.Gallen unbearbeitet">
            <img class="card-body__image-container__image" src="assets/images/center/edited.jpg" alt="Kloster St.Gallen bearbeitet Wasserfarbeneffekt">
        </div>
    </div>
</section>