@import "../../../shared/style/comps/card.scss";
@import "../../../shared/style/comps/title.scss";
@import "../../../shared/style/comps/rich-text.scss";
.title {
    @include title;
}

.card {
    @include card(0);
}

.card-header__title {
    @include sub-title;
}

.card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    .card-body__image-container {
        display: flex;
        .card-body__image-container__image {
            width: 500px;
            &:not(:last-child) {
                margin-right: 10px;
            }
        }
    }
}