<h1 class="title">Über mich</h1>
<section class="card" sgInViewport>
    <section class="card-header">
        <h2 class="card-header__title">Wer bin ich?</h2>
    </section>
    <section class="card-body">
        <div class="card-body__image">
            <img class="image" src="assets/images/me.jpg" />
        </div>
        <div class="card-body__text">
            <p>Hallo, ich bin Danijel Malinovic. Ich bin 18 Jahre alt und wohne in St.Gallen. Seit dem Sommer 2017 absolviere ich die Lehre als Informatiker Fachrichtung Applikationsentwicklung.
            </p>
        </div>
    </section>
</section>