@import "../../../shared/style/colors/colors.scss";
@import "../../../base/break-points/break-points.scss";
.logo-header {
    background-color: $primary-color;
    height: 100px;
    @media screen and (max-width: $mq-size-m) {
        display: flex;
        justify-content: center;
    }
}

.logo-header__image {
    height: 100%;
}