.wrapper {
    display: block;
    position: relative;
    width: 400px;
}

.slider {
    cursor: col-resize;
    height: 100%;
    width: 3px;
    background-color: white;
    left: 10px;
    top: 0;
    z-index: 100;
    position: absolute;
}

img {
    position: absolute;
    top: 0;
}