@import "../../shared/style/colors/colors.scss";

main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-color: $page-background;
}

sg-topic-description {
  grid-column: 2 / 12;
}
