<h1 class="title">Themenbeschreibung</h1>
<section class="card">
  <section class="card-header">
    <h2 class="card-header__title">Wieso habe ich dieses Thema gewählt?</h2>
  </section>
  <section class="card-body">
    <p class="card-body__text">
      Für das E-Portfolio habe ich mich fürs Thema «St.Gallen» entschieden. Da
      ich auch in St.Gallen gross geworden bin und mich sehr viele Momente mit
      dieser Stadt verbinden, empfand ich es als ein sehr sinnvolles Thema für
      meine Arbeit. Meine Arbeit wird mehrere Teile der Stadt beinhalten und
      soll einer Person, welcher die Stadt noch unbekannt ist, positive
      Eindrücke übermitteln.
    </p>
  </section>
</section>
