@import "../../../shared/style/typo/typo.scss";
@import "../../../shared/style/colors/colors.scss";
@import "../../../shared/style/box-shadow/box-shadow.scss";
@import "../../../shared/style/spacing/spacing.scss";

:host {
  display: block;
  background-color: $white;
}

.navigation {
  box-shadow: $box-shadow;
}

.navigation-items {
  align-items: center;
  display: flex;
  height: 50px;
}

.navigation-item {
  @include typo-regular();
  @include fontSize(18px);

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  color: $black;
  height: 100%;
  text-decoration: none;

  transition: 0.3s color;

  &:hover {
    color: $primary-color-dark;

    ::ng-deep svg-icon {
      fill: $primary-color-dark;
    }
  }
}

.navgiation-item__icon {
  margin-right: $space-base;
}
