@import "src/app/shared/style/spacing/spacing.scss";
@import "src/app/shared/style/colors/colors.scss";
@import "src/app/shared/style/typo/typo.scss";
@import "src/app/base/break-points/break-points.scss";
@mixin title {
    @include typo-bold;
    @include fontSize(36px);
    color: $primary-color;
    padding: $space-large 0;
    @media screen and (max-width: $mq-size-m) {
        padding: $space-large;
        @include fontSize(28px);
    }
}

@mixin sub-title {
    @include typo-bold;
    @include fontSize(28px);
    color: $primary-color;
    padding-bottom: $space-medium;
}