$open-sans-bold: "OpenSans-Bold";
$open-sans-bold-italic: "OpenSans-Bold-Italic";
$open-sans-regular-italic: "OpenSans-Italic";
$open-sans-regular: "OpenSans";
$open-sans-light: "OpenSans-Light";
$open-sans-light-italic: "OpenSans-Light-Italic";
