@import "./web-font-definition.scss";

@font-face {
  font-family: $open-sans-regular;
  src: url("../../../assets/fonts/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
  font-family: $open-sans-regular-italic;
  src: url("../../../assets/fonts/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
  font-family: $open-sans-light;
  src: url("../../../assets/fonts/OpenSans-Light.ttf") format("truetype");
}

@font-face {
  font-family: $open-sans-light-italic;
  src: url("../../../assets/fonts/OpenSans-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: $open-sans-bold;
  src: url("../../../assets/fonts/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
  font-family: $open-sans-bold-italic;
  src: url("../../../assets/fonts/OpenSans-BoldItalic.ttf") format("truetype");
}
